.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-window {
    position: relative;
    width: 1200px;  /* Ajustez la largeur si nécessaire */
    height: 800px;  /* Ajustez la hauteur si nécessaire */
    overflow: hidden;
    border: 1px solid #000; /* Bordure optionnelle pour la clarté visuelle */
}

.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
}

.parcel-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes lego-assemble {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.parcel {
    cursor: pointer;
    will-change: transform;
    transition: transform 0.3s ease-out;
    animation: lego-assemble 1s ease forwards;
}

.parcel:hover {
    z-index: 10;
    transform: scale(1.1) translateY(-5px);
    animation: none;
}

/* Zones de survol ajustées pour détecter le centre de l'image */
.parcel::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    transform: translate(-50%, -50%);
}

.parcel:hover::before {
    content: none;
}

.test1-removebg-preview {
    top: 566px;
    left: 385px;
}
.test2-removebg-preview {
    top: 461px;
    left: 487px;
}
.test3-removebg-preview {
    top: 445px;
    left: 604px;
}
.test4-removebg-preview {
    top: 283px;
    left: 794px;
}
.test5-removebg-preview {
    top: 396px;
    left: 732px;
}
.test6-removebg-preview {
    top: 439px;
    left: 241px;
}
.test7-removebg-preview {
    top: 421px;
    left: 380px;
}
.test8-removebg-preview {
    top: 320px;
    left: 442px;
}
.test9-removebg-preview {
    top: 285px;
    left: 598px;
}
.test10-removebg-preview {
    top: 190px;
    left: 701px;
}
.test11-removebg-preview {
    top: 321px;
    left: 131px;
}
.test12-removebg-preview {
    top: 274px;
    left: 327px;
}
.test13-removebg-preview {
    top: 218px;
    left: 422px;
}
.test14-removebg-preview {
    top: 173px;
    left: 526px;
}
.test15-removebg-preview {
    top: 96px;
    left: 589px;
}
.test16-removebg-preview {
    top: 285px;
    left: 8px;
}
.test17-removebg-preview {
    top: 261px;
    left: 165px;
}
.test18-removebg-preview {
    top: 253px;
    left: -18px;
}
.test19-removebg-preview {
    top: 192px;
    left: 90px;
}
.test20-removebg-preview {
    top: 19px;
    left: 368px;
}
.test21-removebg-preview {
    top: 156px;
    left: 213px;
}
.test22-removebg-preview {
    top: 236px;
    left: 263px;
}
.test23-removebg-preview {
    top: 125px;
    left: 301px;
}
.test24-removebg-preview {
    top: 106px;
    left: 315px;
}
